html {
    font-size: 1.6vw !important;
}

body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding-top: 70px !important;
    padding-bottom: 30px;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-content {
    background: url("../../../media/h3.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    text-align: center;
}

.features {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
}

.features h2 {
    margin-top: 0;
}

.popularTours {
}

.button {

    display: flex;
    justify-content: center;
}

.tours {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.info {
    margin: 0 auto;

}

.tour {
    border-radius: 25px;
    display: inline-block;
    min-width: 300px;
    margin: 25px;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tour img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.tour h3 {
    margin-top: 0;
}

.tour p {
    margin-bottom: 20px;
}

.btn {
    align: center;
    justify-content: center;
    min-width: 200px;
    display: flex;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #666;
}

.contact {
    flex-wrap: wrap;
    background-color: #eee;
    padding: 50px;
    text-align: center;
}

.contact h2 {
    flex-wrap: nowrap;
    display: block;

    margin-top: 0;
}

.contact form {
    display: inline-block;
    text-align: left;
    margin-right: 50px;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact form textarea {
    height: 100px;
    resize: none;
}

.contact form button {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.contact form button:hover {
    background-color: #666;
}

.contactText {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.contact-info {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.contact-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

#home {
    background: #333;
    padding-top: 10px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
#navbar a {
    border: #666;
    /*  margin: 0;*/
    /*float: left;*/
    /*display: block;*/
    /*color: #f2f2f2;*/
    /*text-align: center;*/
    /*padding: 14px;*/
    /*text-decoration: none;*/
}

h1 {

    font-size: 4rem !important;
}

h2 {
    font-size: 2rem !important;
}

h3 {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 1rem !important;

}

p {
    font-size: 0.75rem !important;

}

/* Медіа-запити */
@media (max-width: 700px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .header-content {
        margin: 0 auto;
    }

    .features {
        padding: 20px;
    }

    .contact form {
        margin: 0 auto;
    }

    .contact-info {
        margin: 0 auto;
    }

    h1 {
        margin: 0 auto;
        display: inline-block;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 4rem !important;
    }

}