html {
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blocks {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px;

}

.tour-pan {
    border-radius: 25px;
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    margin: 25px;
    max-width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

a {
    overflow: hidden;
    text-overflow: ellipsis;
}


.tour-pan img {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    max-width: 500px;
    height: 90%;
    margin-bottom: 10px;
}


.btn {
    align: center;
    justify-content: center;
    min-width: 200px;
    display: flex;
    padding: 10px 20px;
    background-color: #f6f6f6;
    width: 95%;
    color: #333;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: firebrick;
}

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

form div {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    width: 300px;
    flex-direction: column;
}

.name {
    height: 30px;
    font-size: large;
}