{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Voyage</title>
    <link rel="stylesheet" href="{% static 'homeCss.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div>
    <header id="home">
        <div id="navbar" class="sticky">
            <nav class="navbar navbar-expand-md navbar-light " style="background-color: #333;font-size: 1.4rem !important;">
                <a style="color: rgba(255,255,255,1); font-size: 1.4rem;padding-right: 20px " href="/" class="navbar-brand">Home</a>
                <a style="color: rgba(255,255,255,1); font-size: 1.4rem " href="/panorama" class="navbar-brand">Excursions</a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <a style="color: rgba(255,255,255,.7);" href="{% url 'users-profile' %}"
                               class="nav-item nav-link">Profile</a>
                            <a style="color: rgba(255,255,255,.7);" href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                        {% else %}
                            <a style="color: rgba(255,255,255,.7);" href="{% url 'login' %}" class="nav-item nav-link">Sign
                                in</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="header-content">
            <h1>Virtual</h1>
            <h1>Voyage</h1>
            <p>Досліджуй світ зручно та безпечно</p>
        </div>
        <div>
        </div>
    </header>
</div>

<section class="features">
    <h2>Наші особливості</h2>
    <div class="allFeature">
        <div class="feature">
            <h3>Безпечність</h3>
            <img src="../../../media/lock.jpg" alt="Особливість 1">
            <p>Віртуальні екскурсії дозволяють досліджувати світ, не виходячи з дому.</p>
        </div>
        <div class="feature">
            <h3>Доступність</h3>
            <img src="../../../media/inet.jpg" alt="Особливість 2">
            <p>Віртуальні екскурсії доступні для кожного користувача без обмежень.</p>
        </div>
        <div class="feature">
            <h3>Творчість</h3>
            <img src="../../../media/mona.jpg" alt="Особливість 2">
            <p>Ми надаємо простий та зрозумілий інструментарій для створення цікавих екскурсій</p>
        </div>
    </div>

</section>

<section class="popularTours" id="excursion">
    <h2 align="center">Популярні екскурсії</h2>

    <div class="tours">
        <div class="tour">
            <h3>Музей Лувр, Париж</h3>
            <img src="../../../media/luvr.jpg" alt="Екскурсія 1">
            <div class="info">
                <p>Дізнайтеся про кращі твори світової культури, перебуваючи на відстані.</p>
                <div class="button">
                    <a href="#" class="btn">Дізнатися більше</a>
                </div>
            </div>

        </div>
        <div class="tour">
            <h3>Мачу-Пікчу, Перу</h3>
            <img src="../../../media/pikchu.jpg" alt="Екскурсія 2">
            <div class="info">
                <p>Відкрийте для себе таємниці стародавньої цивілізації Інків, не покидаючи свій дім.</p>
                <div class="button">
                    <a href="#" class="btn">Дізнатися більше</a>
                </div>
            </div>
        </div>
        <div class="tour">
            <h3>Піраміди, Єгипет</h3>
            <img src="../../../media/egypt.jpg" alt="Екскурсія 3">
            <div class="info">
                <p>Досліджуйте життя тварин у дикій природі Африки, не виходячи зі своєї кімнати.</p>
                <div class="button">
                    <a href="#" class="btn">Дізнатися більше</a>
                </div>

            </div>
        </div>

    </div>
</section>
<section class="contact">
    <h2>Зв'язок з нами</h2>
    <div class="contactText">
        <form action="#" method="POST">
            <label for="name">Ім'я:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Електронна пошта:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Повідомлення:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit" class="btn">Надіслати</button>
        </form>
        <div class="contact-info" id="contacts">
            <h3>Контактна інформація</h3>
            <p>Телефон: +1-234-567-8901</p>
            <p>Email: info@virtualexcursions.com</p>
            <p>Адреса: 123 Main St, New York, NY 10001, USA</p>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2023 Virtual Voyage</p>
</footer>
</body>
</html>
